.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-self: center;
    display: block;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-right: 12px;
}
