.video__header {
  padding-top: 17px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.video__header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  padding: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 36px;
  }
}

.video__header-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  padding: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 445px;
  }
}

.video__preview {
  position: relative;
  padding: 0 20px;
  display: flex;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    max-width: 800px;
    padding: 0 200px;
  }
}

.video__start-play-button {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  padding: 0;
  display: inline-block;

  &:hover {
    opacity: 0.6;
  }

  &::after {
    position: absolute;
    width: 48px;
    height: 55px;
    content: "";
    display: block;
    background: url(../img/icons/video-button.svg);
    background-color: transparent;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
  }
}

.video__container {
  max-width: 100%;
  height: auto;
}
